
header{
    background-color: hwb(0 7% 8%);
    height: 100px;
    padding: 10px;
    text-align: center;
    
}
img{
    width: 75px;
    float: right;
    border-radius: 40%;
    
}
main {
    height: 400px;
    background-color: rgb(138, 138, 235);
    padding: Drem;
}
footer{
    background-color: rgb(6, 117, 17);
    text-align: center;
     padding: Dren;
}
h2{
    border-bottom: dashed 2px green;
}
#Proyecto{
    text-decoration: none;
    color: rgb(232, 6, 6);
    display: flex;
}
#Proyecto:hover{
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 10px 10px 10px;
    transition: 1.4s;
}
