*{
    box-sizing: border-box;
    padding: 0px;
}
main{
    border: 2px solid blue;
}
section{
    border: 2px dashed red;
}
article{
    border: 2px dotted green;
    height: 100px;
    padding: 1rem;
    
    
}


#section1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr  ;
}
#section2{
    display: flex;
    justify-content: space-between;
}

.sec-1{
    flex-grow: 1;
}
.sec-2{
    flex-grow: 2;
}
.sec-3{
    flex-grow: 1;
}
#zero{
    width: 600px;
}
@media screen and (max-width: 700px){
    article{
        background-color: rgba(60, 255, 0, 0.647);
    }
    #section1{
        grid-template-columns: repeat(2, 1fr);

    }
    #art-TWO{
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    #section2{
        flex-wrap: wrap;
    }
    .sec-2{ order: -1;
        width: 100%;

    }
      
}









